<!-- <button type="button" (click)="setEnabled()">
  {{enabled? 'Ocultar': 'Mostrar'}}
</button> -->

<!-- forma template -->
<!-- <div *ngIf="enabled; else notEnabled">
  <h2>{{title}}</h2>
</div> -->

<!-- <ng-template #notEnabled>
  <div>Lo sentimo no esta disponible</div>
</ng-template>

<ul *ngIf="enabled">
    <li *ngFor="let course of courses">{{course}}</li>
</ul> -->

<!-- forma programatica -->
<!-- @if (enabled) {
  <h2>{{title}}</h2>
  <ul>
    @for (course of courses; track $index) {
        <li>{{course}}</li>
    }
  </ul>
}@else {
  <h2>Lo sentimos no esta disponible!</h2>
} -->

<app-product></app-product>